<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\resources\css\admin\daftarulangProfil.css">
</head>
<body>
    <h1>Welcome, Administrator</h1>
    <form action="">
        <div id="profil">
            <span>Nama</span>
            <input type="text" value="">
            <span>Status</span>
            <input type="text" value="">
            <span>NIK</span>
            <input type="text" value="">
            <span>No. Telp</span>
            <input type="text" value="">
        </div>
    </form>
    <button>selesai</button>
</body>
</html>