<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, Administrator</h1>
    <form action="" >
        <div class="grid-container">
            <div id="register1">
                <span>Nama Lengkap</span>
                <input type="text" value="" placeholder="Masukan nama">
                <span>Email</span>
                <input type="text" value="" placeholder="Masukan email">
                <span>Password</span>
                <input type="password" value="" placeholder="Masukan password">
                <span>Re-password</span>
                <input type="password" value="" placeholder="Ulang masukan password">
            </div>
        </div>

        <button id="signup">Sign Up</button>
    </form>
</body>
</html>