<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/HomeAdmin.css">
</head>
<body>
    <div class="bg_image">
        <div class="bg_gradient">
            <div class="container">
                <header>
                    <span class="home_logo">
                        <input type="image" src="/assets/klinik.jpg">
                        Poliklinik Sehat Selalu
                    </span>
                    <span class="logout_icon">
                        <input type="image" src="/assets/logout.jpg">
                    </span>
                </header>
                <div id="menu_container">
                    <div id="title">
                        <h1>Welcome,<br> Sistem Admin</h1>
                    </div>
                    <div class="fitur_list">
                        <form action="" method="get">
                            <button type="submit" name="Tambah_Pegawai" id="pegawai" class="menu-button">Tambah Pegawai</button>
                        </form>
                        <form action="" method="get">
                            <button type="submit" name="listDokter" id="dokter" class="menu-button">List Dokter</button>
                        </form>
                        <form action="" method="get">
                            <button type="submit" name="listPerawat" id="perawat" class="menu-button">List Perawat</button>
                        </form>
                        <form action="" method="get">
                            <button type="submit" name="listAdministrator" id="Administrator" class="menu-button">List Administrator</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>