<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/Admin/TambahPegawai/TambahPegawai.css">
</head>
<body>
    <div class="bg_image">
        <div class="bg_gradient">
            <div class="container">
                <header>
                    <span class="home_logo">
                        <input type="image" src="/assets/klinik.jpg">
                        Poliklinik Sehat Selalu
                    </span>
                    <span class="logout_icon">
                        <input type="image" src="/assets/logout.jpg">
                    </span>
                </header>
                
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>