<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/dokter/index.css">
</head>
<body>
    <div class="bg_image">
        <div class="bg_gradient">
            <div class="container">
                <header>
                    <a th:href="@{/dokter/home}">
                        <span class="home_logo">
                            <input type="image" src="/image/Logo Klinik.png">
                        </span>
                    </a>
                    Poliklinik Sehat Selalu
                    <a th:href="@{/dokter/logoutdokter}">
                        <span class="logout_icon">
                            <input type="image" src="/image/Icon Logout.png">
                        </span>
                    </a>
                </header>
                
                <div class="text_antrian" th:text="${nomor_antrian != null ? 'No. Antrian' : 'Belum Memiliki Antrian'}">No. Antrian</div>
                <div class="no_antrian" th:text="${nomor_antrian}">67</div>

                <form method="get" th:action="@{/dokter/home}">
                    <input type="text" name="filter" th:value="${filter}" placeholder="Cari berdasarkan nama">
                </form>
                
                <div class="table_container">
                    <div class="table_wrapper">
                        <table id="list_antrian">
                            <thead>
                                <tr>
                                    <th>Nama Pasien</th>
                                    <th>No. Antrian</th>
                                    <th>Status</th>
                                    <th>Konsultasi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="row : ${listAntrian}">
                                    <td th:text="${row.nama}">Okie Hafam</td>
                                    <td th:text="${row.nomor_antrian}">67</td>
                                    <td th:text="${row.is_Daftar}">Menunggu</td>
                                    <td>
                                        <a th:href="@{/dokter/konsultasi/{id_Pasien}(id_Pasien=${row.id_Pasien}, id_Pendaftaran=${row.id_Pendaftaran})}">
                                            <button class="konsul_button">Konsultasi</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script defer>
        (function (){
            var buttons = document.getElementsByClassName("konsul_button")
            
            // Loop untuk menonaktifkan tombol di baris selain baris pertama
            for (var i = 0; i < buttons.length; i++) {
                if (i === 0) { // Jika baris bukan baris pertama
                    buttons[i].disabled = false; // Nonaktifkan tombol
                }else{
                    buttons[i].disabled = true;
                }
            }
        })();
    </script> -->
</body>
</html>