<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/dokter/rekamMedis.css">
</head>
<body>
    <div class="container">
        <div class="identitas_pasien">
            <img class="gambar_orang" src="/image/Icon Orang.png" alt="Foto Pasien">
            <div class="text">
                <div class="nama_pasien">Nama: <span th:text="${nama}">Okie Hafam</span></div>
                <div class="umur_pasien">Umur: <span th:text="${umur}">35</span></div>
                <div class="gender_pasien">Jenis Kelamin: <span th:text="${jenis_kelamin}">Pria</span></div>
                <div class="birth_pasien">Tanggal Lahir: <span th:text="${tanggal_lahir}">18 Oktober 2000</span></div>
            </div>
        </div>

        <div class="history_check_up">
            <div class="table_container">
                <div class="table_wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Berat Badan</th>
                                <th>Tinggi Badan</th>
                                <th>Tekanan Darah</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${listCheckup}">
                                <td th:text="${row.tanggal}">12052024</td>
                                <td th:text="${row.berat}">Okie Hafam</td>
                                <td th:text="${row.tinggi}">67</td>
                                <td th:text="${row.tekanan_darah}">Menunggu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="history_diagnosa">
            <div class="table_container">
                <div class="table_wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Diagnosa</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${listDiagnosa}">
                                <td th:text="${row.tanggal}">12052024</td>
                                <td th:text="${row.diagnosa}">Sakit perut</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="dok_pendukung">
            <div class="table_container">
                <div class="table_wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Nama Dokumen</th>
                                <th>File Dokumen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${listDokumen}">
                                <td th:text="${row.tanggal}">12052024</td>
                                <td th:text="${row.nama_dokumen}">Ronsen Patah Kaki</td>
                                <td>
                                    <a th:href="@{/dokter/dokumenPendukung/{id_Dokumen}(id_Dokumen=${row.id_Dokumen})}">
                                        <button>Download</button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="history_obat">
            <div class="table_container">
                <div class="table_wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Nama Obat</th>
                                <th>Dosis Obat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row : ${listObat}">
                                <td th:text="${row.tanggal}">12052024</td>
                                <td th:text="${row.obat}">Obat batuk</td>
                                <td th:text="${row.dosis}">Sehari 3 kali</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="button_back">
            <a th:href="@{/dokter/konsultasi/{id_Pasien}(id_Pasien=${id_Pasien})}">
                <button type="button">Back</button>
            </a>
        </div>
    </div>
</body>
</html>