body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ------------------------------------------------------------------ */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 128, 0.7);
}

.home_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home_logo input[type="image"] {
    width: 35px;
    height: 35px;
}

.logout_icon input[type="image"] {
    width: 30px;
    height: 30px;
}

/* ---------------------------------------------------------- */

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
    gap: 10px;
    padding: 20px;
    height: 100%;
    grid-template-areas: 
        "identitas_pasien data_checkup"
        "box_diagnosa box_resep_obat"
        "button_rekam_medis button_rekam_medis"
        "button_simpan button_simpan";
}

/* ---------------------------------------------------------- */

.identitas_pasien {
    grid-area: identitas_pasien;
    display: flex;
    align-items: center; 
    gap: 15px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}

.identitas_pasien .gambar_orang {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    border: 2px solid #ccc;
    object-fit: cover;
}

.identitas_pasien .text {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    font-size: 1em;
}

/* ---------------------------------------------------------- */

.data_checkup {
    grid-area: data_checkup;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}

.data_checkup .item {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.data_checkup .label {
    background-color: #0056a4;
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 5px;
    font-weight: bold;
    flex-shrink: 0;
}

.data_checkup .value {
    font-size: 1em;
    color: #333;
    flex-grow: 1; 
}

/* ---------------------------------------------------------- */

.box_diagnosa {
    grid-area: box_diagnosa;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    height: 100%; 
}

.inner_diagnosa{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 10px;
}

.box_diagnosa input {
    width: 90%; 
    max-width: 600px; 
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box_diagnosa button[type="submit"] {
    width: fit-content;
    background-color: #0056a4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

/* ---------------------------------------------------------- */

.box_resep_obat {
    grid-area: box_resep_obat;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    height: 100%;
}

.inner_resep_obat{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start; 
    gap: 10px;
}

.box_resep_obat input {
    width: 90%; 
    max-width: 600px; 
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box_resep_obat button[type="submit"] {
    width: fit-content;
    background-color: #0056a4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

/* ---------------------------------------------------------- */

.button_rekam_medis {
    grid-area: button_rekam_medis;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.button_rekam_medis button {
    background-color: #0056a4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
}

/* ---------------------------------------------------------- */

.button_simpan {
    grid-area: button_simpan;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button_simpan button {
    background-color: #0056a4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
}