<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poliklinik Sehat Selalu</title>
    <link rel="stylesheet" href="/Administrator/css/home.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <header>
            <div class="logo">
                <a href="/administrator/home">
                    <img src="/Administrator/image/klinik.jpg" alt="Logo" class="logo-image">
                </a>
            </div>
            <div class="title">Poliklinik Sehat Selalu</div>
            <div class="logout">
                <a href="/logout">
                    <img src="/Administrator/image/logout.jpg" alt="Logout" class="logout-icon">
                </a>
            </div>
        </header>

        <!-- Main Content -->
        <main>
            <div class="welcome-message">
                <h1>Welcome, <br>
                    Administrator</h1>
            </div>
            <!-- Garis Biru Muda -->
            <div class="separator"></div>
            <!-- Tombol -->
            <div class="button-container">
                <a href="/administrator/daftarulang" class="btn">Daftar Ulang Pasien</a>
                <a href="/transaction" class="btn">Transaksi</a>
            </div>
        </main>

        <!-- Footer -->
        <footer></footer>
    </div>
</body>
</html>
