body{
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.bg_image{
    height: 100vh;
    background-image: url("/assets/Background.jpg");
    background-size: cover;
    background-position: center;
}

.bg_gradient{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.container{
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: white;
    font-size: 1.5em;
    background-color: rgba(0, 0, 128, 0.7);
}

.home_logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.home_logo input[type="image"] {
    width: 35px;
    height: 35px;
}

.logout_icon input[type="image"] {
    width: 30px;
    height: 30px;
}

h1{
    color:white;
    font-size: 6em;
    font-weight: bold;
    margin-top: 20px;
    align-content: start;
    
}
#title{
    display: flex;
    box-sizing: border-box;
    width: 40rem;
    height: 25rem;
    text-align: left;
    justify-content: center;
    margin-top: 2rem;
}
.menu-button{
    background-color: lightblue;
    width: 20rem;
    height: 4rem;
    border-radius: 10px;
}
.fitur_list{
    display: flex;
    row-gap: 50px;
    width: 25rem;
    box-sizing: border-box;
    flex-direction: column;
}
#menu_container{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    color: white;
    font-family: Arial, sans-serif;
    font-size: 1.8rem;
}