<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\Users\i22026\Downloads\RPL_Klinik\src\main\resources\static\css/styles.css"> -->
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
<!-- </head>
<body>
    <h1 id="poli1">Poliklinik Sehat Selalu</h1>
    <form action="" >
        <div class="grid-container">
            <div id="register1">
                <span>Nama Lengkap</span>
                <input type="text" value="" placeholder="Masukan nama">
                <span>Email</span>
                <input type="text" value="" placeholder="Masukan email">
                <span>Password</span>
                <input type="password" value="" placeholder="Masukan password">
                <span>Re-password</span>
                <input type="password" value="" placeholder="Ulang masukan password">
            </div>
                
            <div id="register2">
                <span>Tanggal Lahir</span>
                <input type="date" value="" placeholder="Tanggal Lahir (DD/MM/YYYY)">
                <span>Nomor Telepon</span>
                <input type="text" value="" placeholder="Masukan no telepon">
                <span>Alamat Lengkap</span>
                <input type="text" value="" placeholder="Masukan alamat lengkap domisili">
                <span>Jenis Kelamin</span>
                <select id="gender">
                    <option value="lakilaki">Laki-Laki</option>
                    <option value="perempuan">Perempuan</option>
                </select>
            </div>
        </div>
        

        <button id="signup">Sign Up</button>
    </form>

    
    <span>Sudah memiliki akun?</span>
    <a href="">Sign In</a>
    
</body>
</html> -->