<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/login/LoginPage.css">
</head>
<body>
    <div id="container">
        <div id="bg">
            <h1 id = judul>Poliklinik Sehat Selalu</H1>
                <form action="loginPerawat" method="post">
                    <div th:if="${error}">
                        <p th:text="${error}">username or password incorrect</p>
                    </div>
                    <div id="mail" class="input">
                        <label for="eemail">Email</label><br>
                        <input type="text" name="Email" id="eemail" placeholder="Masukan Email"><br>
                    </div>
                    <div id = pw class="input">
                        <label for="password">Password</label><br>
                        <input type="text" name="password" id="password" placeholder="Masukan Password"><br>
                    </div>
                    
                    <button type="submit" >Sign in</button>
                </form>
                <form action="/" method="get">
                    <button type="submit">back</button>
                </form>
        </div>
    </div>
</body>
</html>